*{
  box-sizing: border-box;
  /* background-color: #47242D; */
  padding:0;
  margin:0;
   
}
body{
  
    display:flex;
  flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:auto;
}


